/*============== HOME LINK ==============*/

#home-link{
  background-color: var(--purple-base);
  position: relative;
}

#home-link-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#link-text-area, #link-text-area a{
  color: var(--base-white);
}
#link-text-area{
  max-width: 50%;
}

#link-title{
  font-size: var(--title-size);
  font-weight: 700;
}

#line-link{
  width: 10rem;
  height: 2px;
  background-color: var(--gree-base);
  margin-top: .8rem;
  margin-bottom: .8rem;
}

#link-text, #link-button{
  font-size: var(--text-medium2);
}

#link-text{
  margin-bottom: 1.8rem;
}

#link-button{
  padding: .6rem 2rem;
  background-color: var(--gree-base);
  border-radius: 1rem;
}

lottie-player{
  transform: scale(1.2);
  margin-right: .5rem;
  width: 500px;
  height: auto;
}

#elipse{
  position: absolute;
  height: fit-content;
  min-width: 100%;
  z-index: -1;
  
}

#elipse img{
  min-width: 100%;

}

/*============== CARDS ==============*/
#benefities-cards{
display: grid;
gap: 1rem;
grid-template: 
"purple1 green1 purple3" 1fr
"purple2 green2 purple4" 1fr 
/1fr 1fr 1fr;
}

#purple-card-1{
  grid-area: purple1;
}
#purple-card-2{
  grid-area: purple2;
}
#purple-card-3{
  grid-area: purple3;
}
#purple-card-4{
  grid-area: purple4;
}

#green-card-1{
  grid-area: green1;
}

#green-card-2{
  grid-area: green2;
}

.benefities-card{
  background-color: var(--base-white);
}

.benefities-card-green{
  background-color: var(--gree-base);
}

.benefities-card, .benefities-card-green{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.227);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

.benefities-top{
  display: flex;
  align-items: center ;
}

.drop-green img, .drop img{
  width: 30px;
  margin: .8rem .8rem;
}

.drop-green, .drop{
  box-shadow: 2px 2px 20px rgba(77, 4, 146, 0.64);
  border-radius: 0rem 2rem 2rem 2rem;
  margin-right: 10px;
}

.drop{
  background-color: var(--purple-base);
}

.drop-green{
  background-color: var(--base-white);
}

.benefities-title, .benefities-title-green{
  font-size: text-medium;
}

.benefities-title-green{
  color: var(--base-white);
}
.benefities-line-green, .benefities-line{
  width: 3rem;
  height: 2px;
  margin-top: 3px;
}

.benefities-line{
  background-color: var(--purple-base);
}

.benefities-line-green{
  background-color: var(--base-white);
}

.benefities-text, .benefities-text-green{
  font-size: var(--text-medium3);
  text-align: center;
  margin-top: .5rem;
  display: grid;
  align-items: center;
  height: 50%;
}

.benefities-text-green{
  color: var(--base-white);
}

/*============== HOME LINK ==============*/
#guarantee{
  height: 450px;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

#guarantee-img{
  background-image: url(../images/aperto.png);
  height: 100%;
  min-width: 350px;
  background-size: 250%;
  background-position: 56%;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.255);
}

#guarantee-text-area{
  background-color: var(--base-white);
  height: 85%;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.255);
  padding: 3rem 3rem;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

#guarantee-title{
  font-size: var(--title-size);
  width:48%;
  font-weight: 800;
}

#guarantee-title span{
  color: var(--gree-base);
}

#guarantee-line{
  width: 10rem;
  min-height: 2px;
  background-color: var(--gree-base);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#guarantee-text{
  font-size: var(--text-medium2);
  font-weight: 500;
  padding-left: 2.5rem;
}

/*==== TESTIMONIALS ============================ */

#testimonials{
  max-width: 100vw;
  overflow: hidden;
  min-height: 400px;
  position: relative;
}

.testimonial-card{
  background-color: var(--base-white);
  width: 420px;
  height: 200px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#testimonals-cards{
  padding: 0rem 1rem;
}

.client-info{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}

.client-img{
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: rgb(175, 174, 174);
  border: 2px solid var(--purple-base);
}

.client-name{
  position: relative;
  font-size: var(--text-medium2);
}

.client-name::before{
  content: '';
  width: 30px;
  height: 3px;
  background-color: var(--purple-base);
  display: inline;
  position: absolute;
  top: 1.5rem;
}

.icon-quote{
  justify-self: flex-end;
  font-size: 2.5rem;
  color: var(--purple-base);
}

.client-text{
  font-size: var(--text-small)
}

.cliente-rate{
  color: var(--purple-base);
  font-size: 1.1rem;
  align-self: flex-end;
}

.swiper-testmonials{
  max-width: 1140px;
  overflow: hidden;
}

#testimonials .swiper-testmonials .swiper-wrapper{
position: relative;
}

#testimonials .swiper-testmonials .swiper-horizontal .swiper-pagination-bullets, #testimonials .swiper-testmonials .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 20px;
  max-width: 100vw;
  width: 100vw !important;
  position: absolute;
}

#testimonials .swiper-testmonials  .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background: #00000000;
  border: 3px solid var(--purple-base);
  opacity: 1;
}

#testimonials .swiper-testmonials .swiper-pagination-bullet-active{
  background: var(--purple-base);
}
/*====  FORM ============================ */

#form{
  position: relative;
  z-index: 0;
  
}

#contact-form{
  height: fit-content;
  background-color: var(--base-white);
  border-radius: 30px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 50px 100px;
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#contact-form .title {
  text-align: left;
  margin-bottom: .5rem;
}

#contact-form p{
  font-size: var(--text-small);
  margin-bottom: 2rem;
  width: auto;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
}
#contact-form form input, #contact-form form textarea, #send{
  outline: none;
  border: 2px solid var(--purple-base);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--text-small);
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
}

#contact-form form input::placeholder, #contact-form form textarea::placeholder{
  color: var(--purple-base);
}

#contact-form form #name, #contact-form form #email, #contact-form form #position, #contact-form form #company{
  height: 35px;
  padding: 0rem 1rem;
}

#contact-form form textarea {
  padding: .5rem 1rem;
}

#contact-form form #send{
  padding: .5rem 1rem;
  width: 15rem;
  align-self: center;
  background-color: var(--purple-base);
  color: var(--base-white);
  font-weight: 500;
  transition: .2s;
}
#telefone {
	margin: 0;
	padding: .5em 1rem;
	box-sizing: border-box;
	width: 100%;
}
#contact-form form #send:hover{
  cursor: pointer;
  background-color: var(--base-white);
  color: var(--purple-base);
  transition: .2s;
}

/*====  FAQ ============================ */
.faq-card{
  position: relative;
}

#faq-cards .faq-card:nth-child(-n+4){
  margin-bottom: 2rem;
}

.ask {
  width: 100%;
  max-width: 1140px;
  height: 70px;
  padding: 0rem 1.5rem;

  background-color: var(--purple-base);
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.194);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--base-white);
  font-size: var(--text-medium2);
}

.ask.active{
  background-color: var(--purple-base);
}

.ask:hover{
  cursor: pointer;
}

.ask img{
  width: 20px;
}

.answer{
  width: 99%;
  max-width: 1100px;
  padding: 1rem 1.5rem;
  height: 0rem;
  position: absolute;
  top: 0;
  visibility: hidden;

  background-color: var(--base-white);
  border-radius: 0rem 0rem 1rem 1rem;
  border: 2px solid var(--purple-base);

  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;

  font-size: var(--text-medium3);
}

.answer.show{
  height: 100%;
  visibility: visible;
  position: static;
}

@media(max-width: 1190px){
  lottie-player{
    width: 450px;
  }
  #elipse, #elipse img {
    max-width: 100%;
  }

  #guarantee{
    height: 500px;
  }

  #guarantee-text-area{
    height: 90%;
    padding-left: 1.5rem;
  }

  #guarantee-title{
    width: 20rem;
  }
}

@media(max-width:991px){

  #home-link-container{
    flex-direction: column;
  }

  #link-text-area {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  lottie-player{
    width: 500px;
    margin-top: 3rem;
  }

  /*============== CARDS ==============*/
  #benefities-cards{
    grid-template: 
    "purple1 purple2" 1fr
    "green1 green2" 1fr
    "purple3 purple4" 1fr 
    /1fr 1fr;
  }
    
  #guarantee {
    flex-direction: column;
    height: fit-content;

  }

  #guarantee-img{
    height: 250px;
    max-width: 90%;
    background-size: 110%;
    background-position:center;
    margin-bottom: -2rem;
    z-index: 1;
  }

  #guarantee-text-area{
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 1.5rem;
    max-width: 100%;
    width: 100%;
  }

  #guarantee-text{
    padding: 0;
  }

  .swiper-testmonials{
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;  
  }

  /*====  FORM ============================ */
  #contact-form{
    padding: 3rem 5rem;
  }

  .answer {
    width: 96%
  }
    
}

@media(max-width: 746px){
  #link-text-area {
    max-width: 100%;
  }
  lottie-player{
    width: 450px;
  }

  /*====  FORM ============================ */
  #contact-form {
    padding: 2rem 3rem;
  }

  
}

@media(max-width: 643px){
  #benefities-cards{
    grid-template: 
    "purple1" 1fr
    "purple2" 1fr
    "green1" 1fr
    "purple3" 1fr
    "purple4" 1fr
    "green2" 1fr
    /1fr;
    justify-items: center;
  }

  .benefities-card, .benefities-card-green{
    max-width: 400px;
    min-width: 400px;
  }
}

@media(max-width: 576px){
  lottie-player{
    width: 300px;
    margin-top: 3rem;
  }

  .benefities-card, .benefities-card-green{
    max-width: 300px;
    min-width: 300px;
    padding: 1rem 1.5rem;
  }

  .drop-green img, .drop img {
    width: 25px;
    margin: .6rem .6rem;
  }

  #guarantee {
    flex-direction: column;
    height: fit-content;
    max-width: 100%;
  }

  #guarantee-img{
    height: 200px;
    min-width: 90%;
    background-size: 120%;
  }

  #guarantee-title {
    width: 15rem;
}

  #guarantee-text-area{
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 1.5rem;
    max-width: 100%;
    width: 100%;
  }

  .client-info {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: .6rem;
    margin-bottom: .5rem;
  }
  .client-name::before {
    height: 2px;
    width: 40px;
    top: 1.3rem;
    left: calc(50% - 20px) ;
    }

  .testimonial-card {
     background-color: var(--base-white);
     width: 420px;
     height: fit-content;
   }

  .icon-quote {
    justify-self: center;
    font-size: 2rem;
  }

  .client-text{
    text-align: center;
  }

  .cliente-rate {
    margin-top: .6rem;
    font-size: 1rem;
    align-self: center
  }

  #testimonials .swiper-testmonials  .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: 2px solid var(--purple-base);
  }

  /*====  FORM ============================ */
  #contact-form {
    padding: 1.6rem 1.8rem;
  }

  #contact-form p{
    font-size: var(--text-medium3);
    margin-bottom: 1rem;
  }

  #contact-form form input, #contact-form form textarea {
    font-size: var(--text-medium3);
  }

  #faq-cards .faq-card:nth-child(-n+3) {
    margin-bottom: 1rem;
  }
  
  .ask{
    padding: 0 1rem;
    font-size: var(--text-medium3);
  }
  .answer {
    width: 93%;
    padding: .8rem 1rem;
  }
}

@media(max-width: 450px){
  /*====  FORM ============================ */
  #form .container{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  #contact-form p{
    font-size: var(--text-small);
    margin-bottom: 1rem;
  }

  #contact-form form input, #contact-form form textarea {
    font-size: var(--text-small);
  }

  #contact-form form #name, #contact-form form #email, #contact-form form #telefone {
    height: 30px;
  }
}
